/*
* @Author: wangxiang
* @Date:   2017-07-28 18:14:39
* @Last Modified by:   wangxiang
* @Last Modified time: 2017-08-28 18:14:50
*/
.css-layout {
    position: absolute;
    &-1 {
        top: 0;
        left: 0;
    }
    &-2 {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &-3 {
        top: 0;
        right: 0;
    }
    &-4 {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-5 {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 10;
    }
    &-6 {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &-7 {
        left: 0;
        bottom: 0;
    }
    &-8 {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &-9 {
        bottom: 0;
        right: 0;
    }
}
